@tailwind base;
@tailwind components;
@tailwind utilities;


html, body, #root {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}  


/* Scrollbar - modo claro */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #000; /* Azul de tu paleta */
}

::-webkit-scrollbar-track {
    background-color: #fff; /* gray-200 */
}

/* Scrollbar - modo oscuro */
.dark ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.dark ::-webkit-scrollbar-thumb {
    background-color: #000; /* gray-600 */
}

.dark ::-webkit-scrollbar-track {
    background-color: #fff; /* gray-800 */
}




body {
    transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark {
    background-color: #000; /* Fondo oscuro */
    color: white; /* Texto blanco */
}

body:not(.dark) {
    background-color: #fff; /* Fondo claro */
    color: #2d3748; /* Texto oscuro */
}


/* Ocultar las flechas predeterminadas para todos los navegadores */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    background-color: transparent;
    border: none;
}

/* Para Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

/* Puedes agregar estos estilos para garantizar que no haya ninguna flecha visible */
input[type="number"] {
    appearance: none;
}


